<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="style sheet" href="ind.css">
</head>
<body>
    <a href="{% url 'indo' %}"><button>next page</button></a>
    <form action="action_page.php" method="post">
        <div class="container">
            <label for="fname"><b>first name</b></label>
            <input type="text" placeholder="Enter Username" name="fname" required>

            <label for="lname"><b>last name</b></label>
            <input type="text" placeholder="Enter last name" name="lname" required>
             
            <label for="phone_number">Phone Number</label>
            <input type="text" id="phone_number" name="phone_number" pattern="[0-9]{10}" title="phone number" placeholder="0123456789" required>


            <label for="Phone Number">Phone Number</label>
            <input type="text" id="Phone Number" name="Phone Number" placeholder="0123456789">

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit">Login</button>
          
        </div>
      </form>
</body>
</html>